/************************************************************************/
/** 1) Estilos para el estado de la respuesta (mostrar tipo de aprendizaje) */
.test1_listaRespuestas .respuesta  div {
    display: none;

}

.test1_listaRespuestas .respuesta .estadoRespuesta {
    display: inline-block;
    margin: 0px 20px;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: .9em;
    color: rgb(255, 255, 255);
    background-color: rgba(40, 236, 105, 0.822);
}
/************************************************************************/


/************************************************************************/
/** 2) Estilos para el estado de la pregunta (respondida, no respondida y limite de respuestas) */
.test1_listaPreguntas li div{
    display: none;
}

.test1_listaPreguntas .sinRespuesta{
    display: inline-block;
    margin: 0px 20px;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: .9em;
    color: rgb(255, 255, 255);
}

.test1_listaPreguntas .respondida{
    display: inline-block;
    margin: 0px 20px;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: .9em;
    color: rgb(255, 255, 255);
}

/************************************************************************/


/***********************
** Área de tablas       **
************************/
table{
    margin: 50px 0px;
}

td{
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: justify;
    font-size: 1em;
}


/***********************
** Área de resultado     **
************************/

#test1_resultado{
    margin: 5% 5%;
    background-color: none;
    color: black;
}


#test1_resultado.test1_resultado{
    border-radius: 3px;
    padding: 6px;
    background-color: #FF4646;
    color: white;
}

#test1_resultado p{
    padding: 6px;
    border-radius: 3px;
    height: 20px;
    text-align: center;
    width: 120px;
    color: white;
}

#test1_resultado p:first-child{
    margin: 2% 0% 0% 5%;
    background: #FF4646;
}

#test1_resultado p:nth-child(2){
    margin: 2% 0% 0% 10%;
    background: #FFCC29;
}

#test1_resultado p:last-child{
    margin: 2% 0% 0% 15%;
    background: #086283;
}

