/***********************
** Área de resultado     **
************************/

/*Estilo basico para resultados*/
#test2_resultado p{
    padding: 6px;
    border-radius: 3px;
    height: 20px;
    text-align: center;
    width: 120px;
    color: white;
}

#test2_resultado #resulMax {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#test2_resultado #resulMax p{
    display: inline-block;
    margin: 2% 5%;
    background: #FF4646;
}


#test2_resultado p{
    margin: 2% auto;
    background: #FFCC29;
}

