/************************************************************************/
/** 1) Estilos para el estado de la respuesta (mostrar tipo de aprendizaje) */
.test2_listaRespuestas .respuesta  div {
    display: none;

}

.test2_listaRespuestas .respuesta .estadoRespuesta {
    display: inline-block;
    margin: 0px 20px;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: .9em;
    color: rgb(255, 255, 255);
    background-color: rgba(40, 236, 105, 0.822);
}
/************************************************************************/


/************************************************************************/
/** 2) Estilos para el estado de la pregunta (respondida, no respondida y limite de respuestas) */
.test2_listaPreguntas li div{
    display: none;
}

.test2_listaPreguntas .sinRespuesta{
    display: inline-block;
    margin: 0px 20px;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: .9em;
    color: rgb(255, 255, 255);
}

.test2_listaPreguntas .respondida{
    display: inline-block;
    margin: 0px 20px;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: .9em;
    color: rgb(255, 255, 255);
}

/************************************************************************/


/***********************
** Área de tablas       **
************************/
table{
    margin: 50px 0px;
}

td{
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: justify;
    font-size: 1em;
}


/***********************
** Área de resultado     **
************************/
#test2_resultado.test2_resultado{
    border-radius: 3px;
    padding: 6px;
    background-color: #FF4646;
    color: white;
}

#test2_resultado{
    margin: 5% 5%;
    background-color: none;
    color: black;
}

/*Estilo basico para resultados*/
#test2_resultado p{
    padding: 6px;
    border-radius: 3px;
    height: 20px;
    text-align: center;
    width: 120px;
    color: white;
}

#test2_resultado #resulMax {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#test2_resultado #resulMax p{
    display: inline-block;
    margin: 2% 5%;
    background: #FF4646;
}


#test2_resultado p{
    margin: 2% auto;
    background: #FFCC29;
}

