/***********************
** Área de tablas       **
************************/
table{
    margin: 50px 0px;
}

td{
    box-sizing: border-box;
    padding: 5px 10px;
    text-align: justify;
    font-size: 1em;
}


/***********************
** Área de resultado     **
************************/


#test1_resultado p{
    padding: 6px;
    border-radius: 3px;
    height: 20px;
    text-align: center;
    width: 120px;
    color: white;
}

#test1_resultado p:first-child{
    margin: 2% 0% 0% 5%;
    background: #FF4646;
}

#test1_resultado p:nth-child(2){
    margin: 2% 0% 0% 10%;
    background: #FFCC29;
}

#test1_resultado p:last-child{
    margin: 2% 0% 0% 15%;
    background: #086283;
}

